@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

html,
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

#App {
  width: 100%;
}
