## Server

/server/node_modules
/server/.env
/server/.gitignore

## Client

# dependencies
/client/node_modules
/client/.pnp
/client/.pnp.js
/client/build
/client/.gitignore

# testing
/client/coverage

# production
/client/build

# misc
/client/.DS_Store
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local

/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
