.headerContainer {
    display: flex;
    align-items: center;
}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    width: 64px;
    height: 64px;
}

.imgContainer img {
    border-radius: 1rem;
    width: 80%;
}

.titleContainer{
    margin-left: 1.5rem;
}